/* dank gaat uit naar wiethoofd voor z'n hulp bij de css. veel shit gejat van
 * bootstrap */
html, body, #sidebar {
	height: 100%;
}

#disconnect, #status, #stop, #back, #goalDisplay,
 #gameTitle, #playerListContainer, #chatForm {
	display: none;
}

table, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	/* line-height: 1; */
	font-family: inherit;
}

canvas {
	display: none;
	background-color: #D0D0D0;
	image-rendering: optimizeSpeed;
}

body {
	position: relative;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #222;
	background-color: #f0f0f0;
	padding: 0;
	height: 100%;
	transition: padding-left 1s ease-in-out;
	-moz-transition: padding-left 1s ease-in-out;
}

body.translated {
	transition: padding-left 1s ease-in-out;
	-moz-transition: padding-left 1s ease-in-out;
	padding-left: 301px;
}

a {
	color: #0088cc;
	text-decoration: none;
}

h2 {
	text-align: center;
	padding: 5px 0 0 0;
}

h3 {
	line-height: 27px;
	font-size: 18px;
	margin: 0;
}

input[type=number] {
	max-width: 50px;
}

/* game related */
#gameContainer {
	position: relative;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	text-align: center;
}

#inkIndicator {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 100;
	width: 20px;
	height: 100px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	background-color: rgba(1, 1, 1, 0);
	padding: 2px;
	pointer-events: none;
}

#inkWrap {
	pointer-events: none;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#ink {
	pointer-events: none;
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}

#menuButton {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-weight: bold;
	display: none;
	z-index: 100;
	position: absolute;
	left: 0;
	top: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid #999;
	border-left: 0;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	margin: 0;
	padding: 2px 7px 5px 5px;
}

#winAnnouncer {
	display: none;
	z-index: 500;
	background-color: rgba(255, 255, 255, 0.3);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	margin: auto;
	vertical-align: middle;
	font-weight: bold;
	text-align: center;
	font-size: 24px;
	position: relative;
	top: 40%;
}

.reward {
	position: absolute;
	color: black;
	z-index: 3;
	font-size: large;
	font-weight: bold;
}

.reward-hidden {
	opacity: 0;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

#baseCanvas {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

#status {
	position: absolute;
	top: 5px;
	left: 7px;
	font-weight: bold;
	text-align: left;
}

/* editor */
#editorCanvas {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #999;
	border-top: 0;
	border-left: 0;
	position: static;
}

#editorControls {
	padding: 3px 5px 0 5px;
	text-align: right;
}

#overlay {
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

/* content containers */
article {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	width: 100%;
	padding-left: 301px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

section {
	display: none;
}

section.contentVisible {
	display: block;
}

#gameListContainer, #waitContainer, #connectionContainer {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px 0 10px;
	width: 100%;
	margin: auto;
	max-width: 600px;
}

#waitContainer {
	max-width: 450px;
	text-align: right;
}

#friendInviter {
	text-align: left;
	margin-top: 12px;
}

h1 {
	padding-top: 20px;
	padding-bottom: 10px;
	margin: 0;
	text-align: center;
	font-family: 'Lustria', serif;
	font-size: 40px;
	line-height: 40px;
}

#connectionContainer {
	text-align: justify;
}

#introduction {
	background-color: #FFF;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 9px 15px;
}

#welcome {
	margin: 0;
}

#guide {
	display: none;
}

#credits {
	margin-top: 20px;
	color: #777;
}

#connectForm {
	margin-top: 15px;
	margin-bottom: 5px;
	text-align: center;
}

#gameListContainer {
	text-align: right;
	height: 100%;
}

#playername {
	width: 200px;
}

#details td:first-child {
	text-align: left;
}

#details td:last-child {
	text-align: right;
}

h2.contentHeader {
	margin: 0;
	padding: 12px 0 5px 0;
}

#nonhostContainer {
	text-align: left;
}

/* sidebar related */
#sidebar {
	position: fixed;
	top: 0;
	left: -301px;
	width: 300px;
	border-right: 1px solid #999;
	background: #FEFEFE;
	overflow: hidden;
	transition: left 1s ease-in-out;
	-moz-transition: left 1s ease-in-out;
}

#sidebar.visible {
	left: 0;
	transition: left 1s ease-in-out;
	-moz-transition: left 1s ease-in-out;
}

#sidebar > * {
	margin: 5px;
}

#gameTitle.leftSide {
	width: 175px;
	margin: 5px 5px 5px 10px;
	padding: 5px 0 0 0;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#goalDisplay {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0 0 0 0;
	padding: 10px 5px 0 0;
	text-align: right;
}

#options {
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px;
	background-color: #FEFEFE;
	width: 289px;
	margin: 0;
	padding: 5px;
}

#soundOption {
	position: absolute;
	right: 5px;
	bottom: 10px;
}

#sound {
	display: inline;
}

/* chat */
ul {
	padding-left: 20px;
	word-wrap: break-word;
	margin: 0;
}

li {
	border-bottom: 1px solid #EEE;
}

#chat {
	width: 280px;
}

#chatContainer {
	margin-top: 10px;
	overflow: auto;
}

.player {
	font-weight: bold;
}

.player:after {
	content: ': ';
}

#formSubmit {
	display: none;
}

/* playerlist */
#playerListContainer {
	max-height: 30%;
	overflow: auto;
	margin-bottom: 10px;
}

#playerList {
	margin: 0;
}

span.noverflow {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 120px;
}

a.close {
	color: #000000;
	float: left;
	font-size: 14px;
	font-weight: bold;
	opacity: 0.2;
	text-shadow: 0 1px 0 #FFFFFF;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

a.close.hidden {
	display: none;
}

a.close:hover {
	text-decoration: none;
	opacity: 0.4;
	filter: alpha(opacity=40);
	cursor: pointer;
}

tr.left td:first-child { /* FIXME: dit kruist de x als je de host bent ipv playernaam */
	text-decoration: line-through;
}

/* scrollable gamelist */
#listWrapper {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ddd;
	max-height: 70%;
	overflow: auto;
	margin-bottom: 12px;
	display: block;
}

#gameList {
	margin: 0;
	border: 0;
}

#noGames {
	border-top: 1px solid #ddd;
	text-align: center;
	padding: 8px;
	background-color: #f9f9f9;
}

/* modals from bootstrap */
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1050;
	max-height: 500px;
	overflow: auto;
	width: 560px;
	margin: -250px 0 0 -280px;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	display: none;
}

.modal-header {
	padding: 9px 15px;
	border-bottom: 1px solid #eee;
}

.modal-header a.close {
	float: right;
	margin-top: 2px;
}

.modal-body {
	padding: 15px;
}

.modal-footer {
	padding: 14px 15px 14px 15px;
	margin-bottom: 0;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
	text-align: right;
}

#editorTextField {
	height: 300px;
	width: 520px;
}

/* fancy input css van bootstrap v2 */
.btn, button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: middle;
}

input, textarea, select {
	display: inline-block;#
	width: 210px;
	height: 18px;
	padding: 4px;
	font-size: 13px;
	line-height: 18px;
	color: #555555;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

input, textarea {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

input:focus, textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	/* outline: 0;
	outline: thin dotted \9; */ /* weggehaald voor redenen der fakking lelijkheid */
}

label, input, button, select, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
}

input:disabled,
select:disabled,
textarea:disabled {
	background-color: #f5f5f5;
	border-color: #ddd;
	cursor: not-allowed;
}

/* automatch met hulp van bootstrap */
#automatchContainer {
	display: inline;
	white-space: nowrap;
	word-spacing: 0;
	line-height: 18px;
}

#automatchContainer input {
	display: inline-block;	
	padding: 5px 0px 6px 10px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size: 13px;
	line-height: 18px;
	border-right: 0;
	margin: 0;
	width: 20px;
}

#automatch {
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

#automatchContainer span:first-child {
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

.add-on {
	display: inline-block;
	width: auto;
	min-width: 16px;
	line-height: 18px;
	margin: 0 -1px 0 0;
	padding: 5px 4px 6px 5px;
	font-weight: normal;
	color: #999;
	vertical-align: middle;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
}

/* bootstrap alerts */
.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.alert, .alert-heading {
	color: #c09853;
}

.alert-danger, .alert-error {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
}

.alert-info, .alert-info .alert-heading {
	color: #3a87ad;
}

.alert-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
}

/* bootstrap buttons */
button.danger, .btn.danger,
button.danger:hover, .btn.danger:hover,
button.error, .btn.error,
button.error:hover, .btn.error:hover,
button.success, .btn.success,
button.success:hover, .btn.success:hover,
button.info, .btn.info,
button.info:hover, .btn.info:hover {
	color: #ffffff;
}

button .close, .alert-message .close {
	font-family: Arial, sans-serif;
	line-height: 18px;
}

button.danger, button.error, .btn.danger, .btn.error {
	background-color: #c43c35;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #c43c35 #c43c35 #882a25;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn, button {
	cursor: pointer;
	display: inline-block;
	background-color: #e6e6e6;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	padding: 5px 14px 6px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color: #333;
	font-size: 13px;
	line-height: 18px;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;

	/* TODO: we should totally add a margin-top like this but we need 2 compensate on a bunch of places
	margin-top: 3px;
	*/
}

.btn:hover, button:hover {
	background-position: 0 -15px;
	color: #333;
	text-decoration: none;
}

.btn:focus, button:focus {
	/* outline: 1px dotted #666; */
}

.btn.primary, button.primary {
	color: #ffffff;
	background-color: #0064cd;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
	background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
	background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
	background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
	background-image: -o-linear-gradient(top, #049cdb, #0064cd);
	background-image: linear-gradient(top, #049cdb, #0064cd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #0064cd #0064cd #003f81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

button.active, button:active, .btn:active, .btn.active {
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn[disabled], button[disabled] {
	cursor: default;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	filter: alpha(opacity=65);
	-khtml-opacity: 0.65;
	-moz-opacity: 0.65;
	opacity: 0.65;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* button groups van bootstrap */
.btn-group {
	position: relative;
	display: inline-block;
}

.btn-group .btn {
	position: relative;
	float: left;
	margin-left: -1px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.btn-group .btn:first-child {
	margin-left: 0;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}

.btn-group .btn:last-child {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
}

/* tables css geleend van bootstrap */
table {
	width: 100%;
	margin-bottom: 12px;
	padding: 0;
	font-size: 13px;
	border-collapse: collapse;
	border-spacing: 0;
}

table th, table td {
	padding: 10px 10px 9px;
	line-height: 18px;
	text-align: center;
}

table th {
	padding-top: 9px;
	font-weight: bold;
	vertical-align: middle;
}

table td {
	vertical-align: middle;
	border-top: 1px solid #ddd;
}

table tbody th {
	border-top: 1px solid #ddd;
	vertical-align: top;
}

.condensed-table th, .condensed-table td {
	padding: 5px 5px 4px;
}

.bordered-table {
	border: 1px solid #ddd;
	border-collapse: separate;
	*border-collapse: collapse;
	/* IE7, collapse table to remove spacing */

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.bordered-table th + th, .bordered-table td + td, .bordered-table th + td {
	border-left: 1px solid #ddd;
}

.bordered-table thead tr:first-child th:first-child, .bordered-table tbody tr:first-child td:first-child {
	-webkit-border-radius: 4px 0 0 0;
	-moz-border-radius: 4px 0 0 0;
	border-radius: 4px 0 0 0;
}

.bordered-table thead tr:first-child th:last-child, .bordered-table tbody tr:first-child td:last-child {
	-webkit-border-radius: 0 4px 0 0;
	-moz-border-radius: 0 4px 0 0;
	border-radius: 0 4px 0 0;
}

.bordered-table tbody tr:last-child td:first-child {
	-webkit-border-radius: 0 0 0 4px;
	-moz-border-radius: 0 0 0 4px;
	border-radius: 0 0 0 4px;
}

.bordered-table tbody tr:last-child td:last-child {
	-webkit-border-radius: 0 0 4px 0;
	-moz-border-radius: 0 0 4px 0;
	border-radius: 0 0 4px 0;
}

.zebra-striped tbody tr:nth-child(odd) td, .zebra-striped tbody tr:nth-child(odd) th {
	background-color: #f9f9f9;
}

.zebra-striped tbody tr:hover td, .zebra-striped tbody tr:hover th {
	background-color: #f5f5f5;
}

table .header {
	cursor: pointer;
}
