body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: #F0F0F0;
}

table {
	width: 100%;
}

#content {
	top: 0;
	left: 320px;
	position: absolute;
}

#sidebar {
	padding: 5px;
	width: 309px;
	height: 100%;
	background-color: white;
	border-right: 1px solid #808080;
	position: absolute;
	left: 0;
	top: 0;
}

#canvasContainer {
	position: relative;
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
}

canvas {
	image-rendering: optimizeSpeed;
}

input#chat {
	margin: 0;
	width: 95%;
}

ul {
	margin: 0;
	margin-top: 5px;
	text-align: left;
	list-style-type: square;
	padding: 0;
	padding-left: 20px;
}

li {
	word-wrap: break-word;
}

input#playername {
	margin: 0;
	width: 150px;
}

input[type=number] {
	max-width: 50px;
}

button {
	width: 100%;
}

div#status {
	display: none;
}

#gameOptions, #stop {
	display: none;
}

#playerListContainer {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #808080;
}

#gameTitle {
	margin: 0;
	padding: 5px 0 5px 0;
	width: 100%;
	border-bottom: 1px solid #808080;
}
